aside {
    display: flex;
    flex-direction: column;

    width: calc(2rem + 32px);
    min-height: 100vh;          // устанавливает минимальную высоту элемента
    overflow: hidden;
    padding: 1rem;

    background-color: var(--dark);
    color: var(--light);

    transition: 0.2s ease-out;

    .flex {     //  Настройка прибивает к низу все элементы после этого параметра
        flex: 1 1 0;    // Порядок свойств flex-grow | flex-shrink | flex-basis
        // border: 1px solid #ece89d;
    }

    .logo {
        margin-bottom: 1rem;
        img {
            width: 2rem;
        }
    }

    .menu-toggle-wrap {
        // border: 1px solid #ece89d;
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;

        position: relative;
        top: 0;
        transition: 0.2s ease-out;

        .menu-toggle{
            //border: 1px solid #ece89d;
            transition: 0.3s ease-out;

            .material-icons {                   // свойства стрелки : размер, цвет
                font-size: 2rem;
                color: var(--light);            // цвет значка ">>"
                transition: 0.2 ease-out;       //
            }

            &:hover {                               // свойства при наведении на стрелку
                .material-icons {
                    color: var(--primary);          // изменение цвета
                    transform: translateX(0.5rem);  // смещение по оси Х
                }
            }
        }
    }

    h3, .button .text {     // Скрыть надписи на меню
        opacity: 0;                 // установить полную прозрачноть
        transition: 0.3s ease-out;
    }

    h3 {                            // Свойства надписи "Menu"
        color: var(--grey);          // установить серый цвет надписи
        font-size: 0.875rem;
        margin-bottom: 0.5rem;      // Отступ снизу от надписи
        text-transform: uppercase;  // Текст болшими буквами
    }

    .menu {                                 // Настройка меню
        margin: 0 -1rem;

        .button {                           // Настрройка кнопок внутри меню
            // border: 1px solid #ece89d;
            display: flex;
            align-items: center;            // положение текста кнопок по центру
            text-decoration: none;          // Убрать подчеркивание на тексте (вид гипер ссылки)

            padding: 0.5rem 1rem;           // Устанавливает внутренние отступы/поля со всех сторон элемента.
            //                                 Одно значение применяется ко всем четырём сторонам
            //                                 Два значения применяются: 1. верхняя и нижняя и 2. левая и правая стороны
            //                                 Три значения применяются: 1. верхняя, 2. левая и правая и 3. нижняя стороны
            //                                 Четыре значения применяются**:** 1. верхняя, 2. правая, 3. нижняя и 4. левая стороны
            transition: 0.2s ease-out;

            .material-icons {
                font-size: 2rem;
                color: var(--light);
                // margin-right: 1rem;         // Отсеуп текста от иконки
                transition: 0.2s ease-out;
            }

            .text {
                color: var(--light);
                transition: 0.2s ease-out;
            }

            &:hover, &.router-link-exact-active {
                background-color:  var(--dark-alt); // Подсветка заднего фона пунктов меню при наведении курсора

                .material-icons, .text {            // Изменение цвета текста и иконки при наведений курсора
                    color: var(--primary);
                }
            }

            //
            &.router-link-exact-active {                // Для эдемента со свойством ".router-link-exact-active"
                border-right: 5px solid var(--primary);
            }
        }
    }

    &.is-expanded {                         // свойства в меню в развернутом полажении
        width: var(--sidebar-width);

        .menu-toggle-wrap {
            top: -2rem;                     // в развернутом полажении поднять стрелку
            .menu-toggle {
                transform: rotate(-180deg); // поворот на 180 градусов сртелки
            }
        }

        h3, .button .text {     // Показать надписи на меню
            opacity: 1;
        }
        .menu {
            .material-icons {
                margin-right: 1rem;         // Отступ текста от иконки. Применение свойства в данном месте дает эффект плавного смещения
            }
        }
    }

    @media (max-wedth: 768px) {
        position: fixed;
        z-index: 99;
    }
}


